#child{
  display:grid ;
  place-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 125px;
  border: 1px solid black;
  height: 40vh;
  width: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 2rem;
  background-color: rgb(216, 216, 23);
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
display: flex;
}

#send{
  align-items: center;
  justify-content: center;
  display: grid;
}

body{

}

input{
  background-color: transparent;
  padding: 8px;
  border:2px solid black;
  border-radius: 5px;
  margin: 5px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input#enviar{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-right: 65px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  margin-top: -20px;
  border: 2px solid black;
  border-radius: 10px
}

input#enviar:hover{
  background-color: black;
  cursor: pointer;
  color: white;
}

